<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Portal" stopProcessing="true">
                    <match url="PortalWeb/(.*)$" />
                    <action type="Rewrite" url="portal/index.php" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>